:root {
  --primary-color: #3b234a;
  --secondary-color: #d4c7bf;
  --tertiary-color: #523961;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template: 0.1fr 1fr 0.1fr / 1fr;
  margin: 0%;
  font-family: "Popins", sans-serif;
}

header {
  grid-row: 1;
  grid-column: 1;

  display: grid;

  grid-template: repeat(2, auto) / 1fr auto;

  grid-gap: 1rem;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
}

header,
main {
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: none;
  flex-direction: column;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  font-size: larger;
  color: var(--secondary-color);
}

nav a:hover {
  text-decoration: underline double;
}

.navlinks.show {
  display: flex;
}

.active {
  color: #fff;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 4px 0;
  transition: 0.4s;
}

main {
  grid-row: 2;
  grid-column: 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  padding: 20px;
  background-color: var(--secondary-color);
  width: 100%;
  justify-items: center;
}

main h2 {
    grid-column: 1 / -1;
    grid-row: 1;

  }

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

figcaption {
  font-size: 1rem;
  text-align: center;
  color: var(--tertiary-color);
  font-weight: bold;
}

footer {
  grid-row: 3;
  grid-column: 1;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  width: 100%;
}
