@media (min-width: 740px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  nav a {
    flex: 1 1 100%;
  }

  .hamburger {
    display: none;
  }

  main {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
