@media (min-width: 740px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul {
    display: flex
    ;
    justify-content: flex-end;
    flex-direction: row;
  }

  nav a {
    flex: 1 1 100%;
  }

  .hamburger {
    display: none;
  }

  main {
    grid-template-columns: repeat(auto-fit, 1fr, minmax(1fr, 1fr));
  }

  main h2 {
    grid-column: 1 / 4;
  }

  figure img {
    max-width: calc(90vw /3);
    height: calc(100vh /3);
    object-fit: cover;
    
  }


}
